.bgHeader {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 250px;
  background: url(/assets/imgs/pattern-bg.png) no-repeat center center / cover;
}

.inputContainer {
  display: flex;

  .ipInput {
    
    width: 480px;
    height: 55px;

    padding-left: 16px;
    
    font-size: 1rem;
    color: $lightGray;

    border-radius: 1rem 0 0 1rem;
    border: none;


    &:focus {
      border: none;
      outline: none;
    }
  }

  button {
    padding: 0 24px;

    background-color: $VeryDarkGray;

    color: $white;
    font-weight: 700;
    font-size: 1rem;

    cursor: pointer;

    border-radius: 0 1rem 1rem 0;
    border: none;

    transition: 0.2s ease-in-out;

    &:hover {
      background-color: #3c3c3c;
    }
  }
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  z-index: 999;

  width: 70%;
  padding: 2rem 0;

  margin-top: 2.4rem;

  border-radius: 1rem;

  background-color: $white;

  .infoList {
    border-left: 1px solid $DarkGray;

    padding: 1rem 0 1rem 2rem;
  }
}

#mapId {
  height: 100%;
  width: 100%;
}

