.bgHeader {
  display: flex;
  align-items: center;
  flex-direction: column;

  position: absolute;

  width: 100%;
  height: 30vh;
  min-height: 150px;

  background: url(/assets/imgs/pattern-bg.png) no-repeat center center;
  background-size: cover;
}

.inputContainer {
  display: flex;

  .ipInput {
    width: 520px;
    height: 55px;

    padding-left: 16px;
    font-size: 1rem;
    color: $lightGray;

    border-radius: 1rem 0 0 1rem;
    border: none;

    text-align: left;

    &:focus {
      border: none;
      outline: none;
    }
  }

  button {
    padding: 0 24px;

    background-color: $VeryDarkGray;

    color: $white;
    font-weight: 700;

    cursor: pointer;

    border-radius: 0 1rem 1rem 0;
    border: none;

    transition: 0.2s ease-in-out;

    &:hover {
      background-color: #3c3c3c;
    }
  }
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: absolute;
  bottom: -70px;

  width: 70%;
  padding: 2rem 0;

  border-radius: 1rem;

  background-color: $white;

  .infoList {
    border-left: 1px solid $DarkGray;

    padding: 1rem 0 1rem 2rem;
  }
}

.map {
  height: 100vh;

  background: url(/assets/imgs/google-maps-tutorial.jpg) no-repeat center center;
  background-size: cover;
}
