.ipTitle {
  color: $white;
  font-weight: 500;
}

.infoListNo {
  h2 {
    color: $DarkGray;
    font-size: 0.9rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.infoList {
  h2 {
    color: $DarkGray;
    font-size: 0.9rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: 500;
  }
}