* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 24px;
}

.m-4 {
  margin: 32px;
}

.m-5 {
  margin: 48px;
}

.m-6 {
  margin: 64px;
}

.m-7 {
  margin: 72px;
}

.m-8 {
  margin: 96px;
}

.m-9 {
  margin: 128px;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.mt-5 {
  margin-top: 48px;
}

.mt-6 {
  margin-top: 64px;
}

.mt-7 {
  margin-top: 72px;
}

.mt-8 {
  margin-top: 96px;
}

.mt-9 {
  margin-top: 128px;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 24px;
}

.ml-4 {
  margin-left: 32px;
}

.ml-5 {
  margin-left: 48px;
}

.ml-6 {
  margin-left: 64px;
}

.ml-7 {
  margin-left: 72px;
}

.ml-8 {
  margin-left: 96px;
}

.ml-9 {
  margin-left: 128px;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 24px;
}

.mr-4 {
  margin-right: 32px;
}

.mr-5 {
  margin-right: 48px;
}

.mr-6 {
  margin-right: 64px;
}

.mr-7 {
  margin-right: 72px;
}

.mr-8 {
  margin-right: 96px;
}

.mr-9 {
  margin-right: 128px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 48px;
}

.mb-6 {
  margin-bottom: 64px;
}

.mb-7 {
  margin-bottom: 72px;
}

.mb-8 {
  margin-bottom: 96px;
}

.mb-9 {
  margin-bottom: 128px;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 24px;
  margin-right: 24px;
}

.mx-4 {
  margin-left: 32px;
  margin-right: 32px;
}

.mx-5 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-6 {
  margin-left: 64px;
  margin-right: 64px;
}

.mx-7 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-8 {
  margin-left: 96px;
  margin-right: 96px;
}

.mx-9 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-5 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-6 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.my-7 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-8 {
  margin-top: 96px;
  margin-bottom: 96px;
}

.my-9 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 24px;
}

.p-4 {
  padding: 32px;
}

.p-5 {
  padding: 48px;
}

.p-6 {
  padding: 64px;
}

.p-7 {
  padding: 72px;
}

.p-8 {
  padding: 96px;
}

.p-9 {
  padding: 128px;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 24px;
}

.pt-4 {
  padding-top: 32px;
}

.pt-5 {
  padding-top: 48px;
}

.pt-6 {
  padding-top: 64px;
}

.pt-7 {
  padding-top: 72px;
}

.pt-8 {
  padding-top: 96px;
}

.pt-9 {
  padding-top: 128px;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 24px;
}

.pl-4 {
  padding-left: 32px;
}

.pl-5 {
  padding-left: 48px;
}

.pl-6 {
  padding-left: 64px;
}

.pl-7 {
  padding-left: 72px;
}

.pl-8 {
  padding-left: 96px;
}

.pl-9 {
  padding-left: 128px;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 24px;
}

.pr-4 {
  padding-right: 32px;
}

.pr-5 {
  padding-right: 48px;
}

.pr-6 {
  padding-right: 64px;
}

.pr-7 {
  padding-right: 72px;
}

.pr-8 {
  padding-right: 96px;
}

.pr-9 {
  padding-right: 128px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 24px;
}

.pb-4 {
  padding-bottom: 32px;
}

.pb-5 {
  padding-bottom: 48px;
}

.pb-6 {
  padding-bottom: 64px;
}

.pb-7 {
  padding-bottom: 72px;
}

.pb-8 {
  padding-bottom: 96px;
}

.pb-9 {
  padding-bottom: 128px;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-4 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-5 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-6 {
  padding-left: 64px;
  padding-right: 64px;
}

.px-7 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-8 {
  padding-left: 96px;
  padding-right: 96px;
}

.px-9 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-5 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-6 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.py-7 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-8 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.py-9 {
  padding-top: 128px;
  padding-bottom: 128px;
}

.border {
  border: 1px solid red;
}
/*# sourceMappingURL=style.css.map */